* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative;
  height: 50px;
  background-color: #212121; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; }
  .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff; }
  .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }

.hamburger {
  display: none; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.12); }
  .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader_official {
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px; }
  .subheader_col {
    font-size: 12px;
    margin-top: 23px;
    font-weight: 300;
    text-align: right;
    color: #ffffff; }
  .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    color: #ffffff;
    line-height: 12px;
    text-align: right; }
  .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    border-radius: 4px;
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    text-align: center;
    color: #ffffff; }
    .subheader_btn:hover {
      background-image: none;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#08758a), to(#2fc0dc));
      background-image: linear-gradient(to top, #08758a, #2fc0dc); }

.promo {
  min-height: 800px;
  padding: 151px 0 135px 0;
  background: url("../img/header.jpg") center center/cover no-repeat; }
  .promo_header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 60px; }
  .promo_subheader {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 36px;
    margin-top: 22px; }
  .promo_descr {
    margin-top: 23px;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #ffffff; }
  .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    border-radius: 4px;
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase; }
    .promo_btn:hover {
      background-image: none;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#08758a), to(#2fc0dc));
      background-image: linear-gradient(to top, #08758a, #2fc0dc); }

.motive {
  min-width: 900px;
  padding: 71px 0 65px 0; }
  .motive_small {
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000; }
    .motive_small span {
      margin: 8px 11px 6px 12px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 100;
      color: #ffffff; }
  .motive_header {
    margin-top: 38px;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #222222;
    line-height: 38px; }
  .motive_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px; }
  .motive_wheel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    margin-right: 26px; }
  .motive_text {
    width: 341px;
    font-size: 17px;
    color: #1eacc7; }
    .motive_text p {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.4;
      text-align: justify;
      color: #202020; }

.label {
  margin: 0 auto;
  padding: 5px 12px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  color: #ffffff;
  text-align: center; }

.title {
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  margin-top: 38px; }

.subtitle {
  font-size: 17px;
  text-align: center;
  color: #222222;
  margin: 19px;
  line-height: 17px; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/rectangle.png") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 91px; }
    .mobile_item_1 {
      background: url("../img/mob_1.png"); }
    .mobile_item_2 {
      background: url("../img/mob_2.png"); }
    .mobile_item_3 {
      background: url("../img/mob_3.png"); }
    .mobile_item_4 {
      background: url("../img/mob_4.png"); }
    .mobile_item_5 {
      background: url("../img/mob_5.png"); }
    .mobile_item_6 {
      background: url("../img/mob_6.png"); }
    .mobile_item_subtitle {
      font-size: 24px;
      line-height: 1.29;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff; }
    .mobile_item_plus {
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      position: absolute;
      margin: 0 auto;
      width: 26px;
      height: 26px;
      cursor: pointer; }

.car .label {
  background: #ffffff;
  color: #070716; }
.car .title {
  color: #ffffff;
  margin-top: 32px; }
.car .subtitle {
  color: #ffffff;
  margin-top: 19px; }

.car_top {
  padding-top: 56px;
  height: 499px;
  background-color: #070716; }

.car_img {
  display: block;
  margin: 56px auto 0; }

.car_bottom {
  height: 397px;
  padding-bottom: 138px;
  background: url("/img/Rectangle.png") center center/cover no-repeat; }

.car_text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.41;
  text-align: center;
  color: #222222; }

.require {
  padding: 68px 0 84px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0px; }
  .require_title {
    font-size: 22px;
    color: #1ca8c3; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 24px; }
    .require_list li {
      position: relative;
      font-size: 17px;
      font-weight: 300;
      color: #222222;
      line-height: 17px;
      margin-bottom: 15px; }
      .require_list li::before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 2px;
        width: 21px;
        height: 20px;
        background: url("../icons/checkmark_blue.png") center center/cover no-repeat; }
  .require_descr {
    color: #1ca8c3;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.41; }
  .require .warning .require_title {
    color: #ff5656; }
  .require .warning .require_list li::before {
    background: url("../icons/checkmark_red.png"); }

.map {
  background: url("/img/map.jpg") center center/cover no-repeat;
  height: 717px;
  padding: 49px 0; }
  .map .label {
    background: #ffffff;
    color: #070716; }
  .map .title {
    color: #ffffff;
    margin-top: 32px; }
  .map .subtitle {
    color: #ffffff;
    margin-top: 19px; }
  .map_text {
    display: block;
    width: 193px;
    margin: 486px auto 0 auto;
    font-size: 14px;
    color: #1fbad6;
    text-transform: uppercase; }

.footer {
  height: 152px;
  padding: 14px 0 35px 0; }
  .footer_line {
    margin: 0 auto;
    width: 299px;
    height: 4px;
    background-color: #1fbad6; }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 32px; }
  .footer_wrapper > div {
    width: 33%; }
    .footer_wrapper > div:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .footer_soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 153px; }
  .footer_soci {
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
    margin: 0 4px;
    text-align: center; }
    .footer_soci img {
      margin-top: 20%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 450px; }
    .footer_menu a {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 300;
      color: #070716;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-decoration: none;
      text-align: center; }
  .footer_submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 450px; }
    .footer_submenu a {
      margin: 12px 11px 0 11px;
      font-size: 11px;
      font-weight: 300;
      line-height: 1px;
      color: #999999;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-transform: uppercase;
      text-decoration: none; }
  .footer_goog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .footer_goog a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .footer_goog a img {
        width: 94px;
        margin: 0 2px; }
  .footer_lg {
    font-size: 11px;
    line-height: 6.18;
    text-align: center;
    color: #1fbad6; }
    .footer_lg a {
      text-transform: uppercase;
      text-decoration: none; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo_header {
    font-size: 50px; }
  .promo_subheader {
    font-size: 30px; }

  .motive_block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .motive_text {
    width: 256px; } }
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px; }
  .menu_link {
    font-size: 10px; }

  .subheader_logo img {
    width: 100%; }
  .subheader_official {
    font-size: 11px; }
  .subheader_phone {
    font-size: 20px; }
  .subheader_btn {
    margin-top: 21px;
    height: 41px;
    width: 100%; }

  .promo_header {
    font-size: 40px; }
  .promo_subheader {
    font-size: 24px; }

  .motive_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .motive_text {
    width: 256px;
    margin-top: 20px; } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 1; }
    .menu_active {
      left: 0; }
    .menu_item {
      padding-right: 0;
      border: 0;
      margin: 10px 0; }
    .menu_linck {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background: #ffffff;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:mth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:mth-child(2) {
        display: none; }
      .hamburger_active span:mth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); } }

/*# sourceMappingURL=style.css.map */